#f0f4f7
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-container {
  position: relative;
  margin: 15px;
  margin-right: 28px;
  margin-left: 0px;
  height: 200px;
  width: 350px;
  max-width: 100%;
}


.edit-icon {
  position: absolute;
  top: 25px; 
  right: 2px; 
  transform: translate(50%, -50%); 
  font-size: 48px; 
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}

.image-container:hover .edit-icon {
  visibility: visible;
}
.delete-icon {
  position: absolute;
  top: 25px; 
  left:-20px;
  transform: translate(50%, -50%); 
  font-size: 48px; 
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px; 
  visibility: hidden;
  transition: visibility 0.3s ease-in-out;
}
.image-container:hover .delete-icon {
  visibility: visible;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.link-unstyled {
  text-decoration: none; 
  color: inherit; 
}


.pagination {
  user-select: none; 
}

.time-input {
  display: flex;
}

.am-pm {
  margin-left: 5px;
  align-self: center;
}

.mt-10{
  margin-top: 100px;
}

@media (max-width: 576px) { /* Adjust breakpoint as needed */
  .Heading p {
    font-size: 15px !important; /* !important used for specificity */
  }
}


.lead{
  font-size: 26px !important ;
    font-weight: 300  !important;
    font-family:"'Rubik', sans-serif" !important;
  color:#3b64b8 !important ;
}
@media (max-width: 576px) { 
  .Heading p {
    font-size: 15px !important; 
  }
}
@media (max-width: 468px) {
  .information {
    margin-bottom: -25px !important;
  }
}

.responsive-title {
  font-size: 45px; /* Default font size */
}

@media (max-width: 768px) {
  .responsive-title {
      font-size: 36px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .responsive-title {
      font-size: 24px; /* Further adjust font size for extra small screens */
  }
}


